<h2 class="ui center aligned header">Signup for MessageMe -  a complete ChatApp</h2>
<h3 class="ui center aligned icon header">
<i class="pencil alternate icon"></i>
  Signup
</h3>

<div class="ui placeholder raised segment">
  
  <%= form_with(model:@user, class:"ui form", local: true) do |form| %>


    <div class="required field">
      <%= form.label :Username %>         
      <%= form.text_field :name%>             
    </div>

    <div class="required field">
      <%= form.label :Password %>  
      <%= form.password_field :password %>           
    </div>

    <%= form.submit "Sign up", class:"ui orange medium button" %>
    
  <% end %>

</div>
